<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RssDatabaseEntities"
         connectionString="metadata=res://*/CrowdDisconnectDB.csdl|res://*/CrowdDisconnectDB.ssdl|res://*/CrowdDisconnectDB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=GT08-PC\SQLEXPRESS;initial catalog=RssDatabase;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>